{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/loginn.css' %}">
    <script src="https://kit.fontawesome.com/1de76f1dd3.js" crossorigin="anonymous"></script>
    <title>Login - HaleAndHearty</title>
</head>
<body>
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}
    <div class="bg-img">
      <div class="content">
        <header>Hale & Hearty</header>
        <form action="" method="POST">
            {% csrf_token %}
          <div class="field">
            <span class="fa fa-user"></span>
            <input type="text" required placeholder="Username" name = "username">
          </div>
          <div class="field space">
            <span class="fa fa-lock"></span>
            <input type="password" class="pass-key" required placeholder="Password" name = "password">
            <span class="show">SHOW</span>
          </div>
          <div class="form-check" style="margin-top: 20px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked style="cursor: pointer;">
            <label class="form-check-label" for="flexCheckDefault" style="color: #fff;font-size: 19px;position: relative;left: -80px;bottom: 4px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
              Remember Me
            </label>
          </div>
          <div class="field" style="margin-top: 20px;">
            <input type="submit" value="Login">
          </div>
        </form>
        <div class="login">Or login with</div>
        <div class="links">
          <div class="github">
            <a href="{% url 'social:begin' 'github' %}" style="text-decoration: none;color: white;">
                <i class="fab fa-github"><span>Github</span></i>
            </a>
          </div>
          <div class="google">
            <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-decoration: none;">
                <i class="fab fa-google"></i><span class="noob">Google</span>
            </a>
          </div>
        </div>
        <div class="signup">Don't have an account?
          <a href="{% url 'register' %}">Register</a>
        </div>
      </div>
    </div>

    <div class="preloader">
    
      <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background:0 0"><circle cx="50" cy="50" r="4.719" fill="none" stroke="#1d3f72" stroke-width="2"><animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="-1.5s" repeatCount="indefinite"/><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="-1.5s" repeatCount="indefinite"/></circle><circle cx="50" cy="50" r="27.591" fill="none" stroke="#5699d2" stroke-width="2"><animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"/><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"/></circle></svg>
      
    </div>

      <style>
          .preloader {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100vh;
              width: 100%;
              background: rgb(23, 22, 22);
              position: fixed;
              top: 0;
              left: 0;
              z-index: 9999;
              transition: opacity 0.3s linear;
          }
      </style>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script>
      $(window).load(function() {
      $(".preloader").delay(1000).fadeOut("slow");
      // $("#overlayer").delay(5000).fadeOut("slow");
      })
  </script>

    <script type="text/javascript">
        
      const pass_field = document.querySelector('.pass-key');
      const showBtn = document.querySelector('.show');
      showBtn.addEventListener('click', function(){
       if(pass_field.type === "password"){
         pass_field.type = "text";
         showBtn.textContent = "HIDE";
         showBtn.style.color = "#3498db";
       }else{
         pass_field.type = "password";
         showBtn.textContent = "SHOW";
         showBtn.style.color = "#222";
       }
      });
    </script>
    
  </body>
</html>