{% load static %}
{% load crispy_forms_tags  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://kit.fontawesome.com/1de76f1dd3.js" crossorigin="anonymous"></script>
    <title>Login - Idk</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <h1 class="nameofwebsite">Idk Help :)</h1>
            <button class="github-login"><i class="fab fa-github"></i><a class="githublink" href="{% url 'social:begin' 'github' %}">Continue With Github</a></button>
            <button class="google-login"><i class="fab fa-google"></i><a class="googlelink" href="{% url 'social:begin' 'google-oauth2' %}">Continue With Google</a></button>
            <div class="orshit">
                <div class="left-line"></div>
                <h5>OR</h5>
                <div class="right-line"></div>
            </div>
            <input type="text" placeholder="Username" name = "username">
            <input type="password" placeholder="Password" name = "password" id = "password">
            <i class="bi bi-eye-slash" onclick="idkhelp(this)"></i>
            <button type="submit" class="register-button">Login</button>
            <a href="{% url 'password_reset' %}" class="forgetpass">Forgot password?</a>
        </form>
    <div class="belowthing">
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>

    <script type="text/javascript">
        function idkhelp(x){
            const password = document.getElementById("password")
            x.classList.toggle("bi-eye")
            if (password.type == "password"){
                password.type = "text"
            }
            else{
                password.type = "password"
            }
        }
    </script>
</body>
</html>