{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://kit.fontawesome.com/1de76f1dd3.js" crossorigin="anonymous"></script>
    <title>{{object.title}}</title>
</head>
<body style="background-color: rgba(165, 165, 165, 0.164);">
    <div class="postdivgobrr" style="margin-top: 50px;">
        <div class="postdivheader">
            <img src="{{object.author.profile.image.url}}" alt="" width="36px" height="36px" class="postdivheaderimg">
            <p class="postdivheadername">{{object.author}}</p>
            <span>.</span>
            <p class="postdivheaderfollow">Follow</p>
            <p class="whenposted">Posted {{object.created|naturaltime}}</p>
        </div>
        <div class="titlestuff">
            <a href="{% url 'post_detail' post.pk %}" target="_blank">
                {{object.title}}
            </a>
        </div>
        <div class="bodystuff">
            {{object.body|safe}}
        </div>
        <div class="bottom-stuff">
            <div class="answer-field">
                <i class="far fa-edit"></i>
                <span class="answer">Answer</span>
            </div>
            <a>
                <div class="save-field">
                    <i class="far fa-save"></i>
                    <span class="save">Save</span>
                </div>
            </a>
            <div class="report-field" data-bs-toggle="modal" data-bs-target="#modalofreport">
                <i class="far fa-flag"></i>
                <span class="report">Report</span>
            </div>
            <div class="share-field" data-bs-toggle="modal" data-bs-target="#modalofreport">
                <i class="far fa-share-square" data-bs-toggle="tooltip" title="Share"></i>
                <span class="share">Share</span>
            </div>
            {% if request.user == object.author %}
                <i class="fas fa-ellipsis-h"></i>
            {% endif %}
        </div>
  </div>

  <!-- <div class="answerdivhahahah">
      <form action="" method="POST">
          {% csrf_token %}
          <input type="text" name = "comment" placeholder="Enter Shit Here">
          <input type="hidden" name = "postid" value="{{object.title}}">
          <button type="submit">Answer</button>
      </form>
  </div> -->
</body>
</html>