{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://kit.fontawesome.com/1de76f1dd3.js" crossorigin="anonymous"></script>
    <title>{{post.title}}</title>
</head>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<body style="background-color: rgba(165, 165, 165, 0.164);">

    <!-- navnbar hahah  -->

    <header class="navbarr">
        <div class="logo">
            Logo
        </div>
        <div class="searchdiv">
            <i class="fas fa-search"></i>
            <input type="search" class="searchh" placeholder="Search...">
        </div>
        <div class="iconsdivuser">
            <i class="fas fa-bell" data-bs-toggle="tooltip" title="Notifications"></i>
            <i class="fas fa-trophy" data-bs-toggle="tooltip" title="Achievements Such As Points"></i>
            <i class="fas fa-envelope" data-bs-toggle="tooltip" title="Messages"></i>
            <a href="{% url 'ask_question' %}"><i class="fas fa-plus" data-bs-toggle="modal" data-bs-target="#postcreate"></i></a>
        </div>
        <div class="userdiv">
            <img src="{{user.profile.image.url}}" data-bs-toggle="tooltip" title = "{{request.user}}" width="39px" height="39px" class="userprofilebruh">
            <i class="fas fa-angle-down" onclick="usernav()"></i>
            <div class="divofuserthings" id = "navbar-user">
                <a href="{% url 'profile' user.pk %}" target="_blank" onclick="usernav()">
                    <div class="upperpart">
                            <img src="{{request.user.profile.image.url}}" alt="">
                            <h3>{{request.user}}</h3>
                            <i class="fas fa-chevron-right"></i>
                            <hr>
                    </div>
                </a>
                <div class="middlepart">
                    <div class="askquestions" data-bs-toggle="modal" data-bs-target="#postcreate" onclick="usernav()">
                        <i class="fas fa-question"></i>
                        <p>Ask Questions</p>
                    </div>
                    <div class="coinsthing">
                        <i class="fas fa-coins"></i>
                        <p>Coins</p>
                    </div>
                    <div class="yourcontent">
                        <i class="fas fa-book"></i>
                        <p>Your Content</p>
                    </div>
                    <div class="leaderboard">
                        <i class="far fa-chart-bar"></i>
                        <p>Leaderboard</p>
                    </div>
                    <hr>
                </div>
                <div class="lastpart">
                    <div class="contact">
                        <p data-bs-toggle="modal" data-bs-target="#contact" onclick="usernav()">Contact</p>
                    </div>
                    <div class="about">
                        <p>About</p>
                    </div>
                    <div class="help">
                        <p>Help</p>
                    </div>
                    <div class="logout">
                        <p><a href="/logout">Logout</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="modal fade modal-divbruh" id="contact" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Contact Form :)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Your Name</label>
                        <input type="text" name = "name" class="form-control" id="formGroupExampleInput" placeholder="Enter your Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Your Email</label>
                        <input type="email" name = "email" class="form-control" id="formGroupExampleInput2" placeholder="Enter your Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Describe what you want to contact us for here</label>
                        <textarea class="form-control" name = "message" id="exampleFormControlTextarea1" rows="3" placeholder="Your message" onkeyup="bot()" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="modalbtn" id = "buttonmodal" disabled>Submit</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      
      <script>
          function usernav(){
              if (document.getElementById("navbar-user").style.display == "none"){
                document.getElementById("navbar-user").style.display = "block"
              }
              else{
                document.getElementById("navbar-user").style.display = "none"
              }
          }

          function bot(){
                if (document.getElementById("exampleFormControlTextarea1").value.length <= 15){
                    document.getElementById("buttonmodal").disabled = true
                }
                else if (document.getElementById("exampleFormControlTextarea1").value.length >= 15){
                    document.getElementById("buttonmodal").disabled = false
                }
            }

      </script>

<div class="modal fade" id="modalofreport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="margin-top: 150px;">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Report question</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modalreportchecks">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value = "" id="flexCheckDefault" onchange="document.getElementById('submitbtn').disabled = !this.checked">
                    <label class="form-check-label" for="flexCheckDefault">Harassment</label>
                    <p>Disparaging or adversarial towards a person or group</p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value = "" id="flexCheckDefault" onchange="document.getElementById('submitbtn').disabled = !this.checked">
                    <label class="form-check-label" for="flexCheckDefault">Spam</label>
                    <p>Undisclosed promotion for a link or product</p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value = "" id="flexCheckDefault" onchange="document.getElementById('submitbtn').disabled = !this.checked">
                    <label class="form-check-label" for="flexCheckDefault">Incorrect topics</label>
                    <p>Question topics are not related to health</p>
                </div>
            </div>
            <div class="modal-footer modalreportbottom">
            <button type="button" class="cancelbtn" data-bs-dismiss="modal">Cancel</button>
            <a href="{% url 'home' %}"><button type="button" class="submitbtn" id = "submitbtn" disabled>Submit</button></a>
        </div>
      </div>
    </div>
  </div>



  <!-- here the main stuff  -->


    <div class="postdivgobrr" style="margin-top: 80px;">
        <div class="postdivheader">
            <img src="{{post.author.profile.image.url}}" alt="" width="36px" height="36px" class="postdivheaderimg">
            <p class="postdivheadername">{{post.author}}</p>
            <span>.</span>
            <p class="postdivheaderfollow">Follow</p>
            <p class="whenposted">Posted {{post.created|naturaltime}}</p>
        </div>
        <div class="titlestuff">
            <a href="{% url 'post_detail' post.pk %}" target="_blank">
                {{post.title}}
            </a>
        </div>
        <div class="bodystuff">
            {{post.body|safe}}
        </div>
        <div class="bottom-stuff">
            <div class="answer-field" onclick="openasnwerpanel()">
                <i class="far fa-edit"></i>
                <span class="answer">Answer</span>
            </div>
            <a>
                <div class="save-field">
                    <i class="far fa-save"></i>
                    <span class="save">Save</span>
                </div>
            </a>
            <div class="report-field" data-bs-toggle="modal" data-bs-target="#modalofreport">
                <i class="far fa-flag"></i>
                <span class="report">Report</span>
            </div>
            <div class="share-field" data-bs-toggle="modal" data-bs-target="#modalofreport">
                <i class="far fa-share-square" data-bs-toggle="tooltip" title="Share"></i>
                <span class="share">Share</span>
            </div>
            {% if request.user == post.author %}
                <i class="fas fa-ellipsis-h"></i>
            {% endif %}
        </div>
  </div>

  <div class="postcommentdiv" id = "postcommentdiv">
      <form action="" method="post">
          <div class="userdiv">
              <img src="{{request.user.profile.image.url}}" alt="">
              <p>{{request.user}}</p>
          </div>
          {% csrf_token %}
          {{form.media}}
          {{form}}
          <div class="buttonstuffhere">
              <button type="submit">Answer</button>
          </div>
      </form>
    </div>
    <hr width="572px" style="position: relative;left: 340px;">
    {% if comments %}
        <p style="color: #282829;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 15px;font-weight: bold;line-height: 21px;margin-left: 340px;">{{numberofcomments}} Answers</p>
        <hr width="572px" style="position: relative;left: 340px;">
    {% else %}
    <p style="color: #282829;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 15px;font-weight: bold;line-height: 21px;margin-left: 340px;">No Answers Yet</p>
    <hr width="572px" style="position: relative;left: 340px;">
    {% endif %}

  {% for comment in comments %}
    <div class="postanswersdiv">
        <div class="topstuff">
            <img src="{{comment.user.profile.image.url}}" width="36px" height="36px" alt="">
            <p class="username">{{comment.user}}</p>
            <span>.</span>
            <p class="followshit">Follow</p>
            <p class="whenanswered">Answered {{comment.commented|naturaltime}}</p>
        </div>
        <div class="bodystuff">
            {{comment.body|safe}}
        </div>
        <div class="bottomstuff" style="display: flex;">
            <form action="{% url 'addlikes' post.pk %}" method = "POST">
                {% csrf_token %}
                <button type="submit" style="background-color: transparent;border: none;outline: none;">
                    <i class="far fa-thumbs-up" style="font-size: 19px;margin-left: 24px;margin-bottom: 7px;" data-bs-toggle="tooltip" data-bs-placement="top" title = "Upvote Answer" onclick="colorblue()" id = "thumbsup"></i>
                    <span>{{post.comment.likes.all.count}}</span>
                </button>
            </form>
            <form action="{% url 'adddislikes' post.pk %}" method = "POST">
                {% csrf_token %}
                <button type="submit" style="background-color: transparent;border: none;outline: none;">
                    <i class="far fa-thumbs-down" style="font-size: 19px;margin-left: 24px;margin-bottom: 7px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title = "Downvote Answer" onclick="colororange()" id = "thumbsdown"></i>
                </button>
                <span>{{post.comment.dislikes.all.count}}</span>
            </form>
        </div>
    </div>
  {% endfor %}

  <script type="text/javascript">
    function openasnwerpanel(){
        document.getElementById("postcommentdiv").style.display = 'block';
    }
    function colorblue(){
        document.getElementById("thumbsup").style.color = "blue"
    }
    function colororange(){
        document.getElementById("thumbsdown").style.color = "orange"
    }
  </script>

</body>
</html>