{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    a{
        text-decoration: none;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddem Coins - {{request.user}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1de76f1dd3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body style="background-color: #172c3d;">
    <header class="navbarr">
        <div class="logo">
            Logo
        </div>
        <div class="searchdiv">
            <i class="fas fa-search"></i>
            <input type="search" class="searchh" placeholder="Search...">
        </div>
        <div class="iconsdivuser">
            <i class="fas fa-bell" data-bs-toggle="tooltip" title="Notifications"></i>
            <i class="fas fa-trophy" data-bs-toggle="tooltip" title="Achievements Such As Points"></i>
            <i class="fas fa-envelope" data-bs-toggle="tooltip" title="Messages"></i>
            <a href="{% url 'ask_question' %}"><i class="fas fa-plus" data-bs-toggle="modal" data-bs-target="#postcreate"></i></a>
        </div>
        <div class="userdiv">
            <img src="{{user.profile.image.url}}" data-bs-toggle="tooltip" title = "{{request.user}}" width="39px" height="39px" class="userprofilebruh">
            <i class="fas fa-angle-down" onclick="usernav()"></i>
            <div class="divofuserthings" id = "navbar-user">
                <a href="{% url 'profile' user.pk %}" target="_blank" onclick="usernav()">
                    <div class="upperpart">
                            <img src="{{request.user.profile.image.url}}" alt="">
                            <h3>{{request.user}}</h3>
                            <i class="fas fa-chevron-right"></i>
                            <hr>
                    </div>
                </a>
                <div class="middlepart">
                    <div class="askquestions" data-bs-toggle="modal" data-bs-target="#postcreate" onclick="usernav()">
                        <i class="fas fa-question"></i>
                        <p>Ask Questions</p>
                    </div>
                    <div class="coinsthing">
                        <i class="fas fa-coins"></i>
                        <p>Coins</p>
                    </div>
                    <div class="yourcontent">
                        <i class="fas fa-book"></i>
                        <p>Your Content</p>
                    </div>
                    <div class="leaderboard">
                        <i class="far fa-chart-bar"></i>
                        <p>Leaderboard</p>
                    </div>
                    <hr>
                </div>
                <div class="lastpart">
                    <div class="contact">
                        <p data-bs-toggle="modal" data-bs-target="#contact" onclick="usernav()">Contact</p>
                    </div>
                    <div class="about">
                        <p>About</p>
                    </div>
                    <div class="help">
                        <p>Help</p>
                    </div>
                    <div class="logout">
                        <p><a href="/logout">Logout</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="modal fade modal-divbruh" id="contact" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Contact Form :)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Your Name</label>
                        <input type="text" name = "name" class="form-control" id="formGroupExampleInput" placeholder="Enter your Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Your Email</label>
                        <input type="email" name = "email" class="form-control" id="formGroupExampleInput2" placeholder="Enter your Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Describe what you want to contact us for here</label>
                        <textarea class="form-control" name = "message" id="exampleFormControlTextarea1" rows="3" placeholder="Your message" onkeyup="bot()" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="modalbtn" id = "buttonmodal" disabled>Submit</button>
                </div>
            </form>
          </div>
        </div>
      </div>

      <div class="reddemdivokbro">
          <div class="topdivhaha">
              <p>Coins Reddem</p>
          </div>
          <div class="middlestuff">
              <p>Coins are a virtual good you can use to award exemplary posts or comments. Support Reddit and encourage your favorite contributors to keep making Reddit better.</p>
          </div>
          <button>Redeem Coins</button>
      </div>

      <div class="reddemletsgoo">
          <div class="coinsfivehunder" style="display: flex;">
            <img src="{% static 'images/coinbg.jpg' %}" alt="" width="256px" height="146px">
            <p>$1.00</p>
            {% if request.user.profile.coins == 500 %}
                <a href="http://www.quickmeme.com/img/4b/4bb2c6353e8745406789dc00c23a7c5693d0a057c76dddb60a0edf5477ead632.jpg"><button>500 Coins</button></a>
            {% else %}
                <button id = "liveToastBtn1">500 Coins</button>
            {% endif %}
          </div>
          <div class="coinsonethousand" style="display: flex;">
            <img src="{% static 'images/coinbg.jpg' %}" alt="" width="256px" height="146px">
            <p>$10.00</p>
            {% if request.user.profile.coins == 1000 %}
            <a href="http://www.quickmeme.com/img/4b/4bb2c6353e8745406789dc00c23a7c5693d0a057c76dddb60a0edf5477ead632.jpg"><button>1000 Coins</button></a>
            {% else %}
                <button id = "liveToastBtn">1000 Coins</button>
            {% endif %}
          </div>
          <div class="coinsthreethousand" style="display: flex;">
            <img src="{% static 'images/coinbg.jpg' %}" alt="" width="256px" height="146px">
            <p>$25.00</p>
            {% if request.user.profile.coins == 3100 %}
            <a href="http://www.quickmeme.com/img/4b/4bb2c6353e8745406789dc00c23a7c5693d0a057c76dddb60a0edf5477ead632.jpg"><button>3000 Coins</button></a>
            {% else %}
                <button id = "liveToastBtn2">3000 Coins</button>
            {% endif %}
          </div>
          <div class="coinsseventhousand" style="display: flex;">
            <img src="{% static 'images/coinbg.jpg' %}" alt="" width="256px" height="146px">
            <p>$50.00</p>
            {% if request.user.profile.coins == 7200 %}
                <a href="http://www.quickmeme.com/img/4b/4bb2c6353e8745406789dc00c23a7c5693d0a057c76dddb60a0edf5477ead632.jpg"><button>7000 Coins</button></a>
            {% else %}
                <button id = "liveToastBtn3">7000 Coins</button>
            {% endif %}
        </div>
      </div>

        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Hale And Hearty</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            Hello, world! This is a toast message.
            </div>
        </div>
        </div>

        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast1" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="{% static 'images/logosmall.jpg' %}" width="20px" height="20px" style="border-radius: 0px;" alt="...">
            <strong style="margin-left: 8px;">Hale And Hearty</strong>
            <button type="button" class="btn-close" style="margin-left: 160px;" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            {{request.user}} You Dont Have Enough Coins Answer Questions And Earn Coins
            </div>
        </div>
        </div>

        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                <img src="{% static 'images/logosmall.jpg' %}" width="20px" height="20px" style="border-radius: 0px;" alt="...">
                <strong style="margin-left: 8px;">Hale And Hearty</strong>
                <button type="button" class="btn-close" style="margin-left: 160px;" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                {{request.user}} You Dont Have Enough Coins Answer Questions And Earn Coins
                </div>
            </div>
            </div>

            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast3" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                    <img src="{% static 'images/logosmall.jpg' %}" width="20px" height="20px" style="border-radius: 0px;" alt="...">
                    <strong style="margin-left: 8px;">Hale And Hearty</strong>
                    <button type="button" class="btn-close" style="margin-left: 160px;" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                    {{request.user}} You Dont Have Enough Coins Answer Questions And Earn Coins
                    </div>
                </div>
                </div>

    
        <script type="text/javascript">
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            var toastTrigger = document.getElementById('liveToastBtn')
            var toastLiveExample = document.getElementById('liveToast')
            if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show()
            })
            }

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            var toastTrigger = document.getElementById('liveToastBtn1')
            var toastLiveExample = document.getElementById('liveToast1')
            if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show()
            })
            }

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            var toastTrigger = document.getElementById('liveToastBtn2')
            var toastLiveExample = document.getElementById('liveToast2')
            if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show()
            })
            }

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            var toastTrigger = document.getElementById('liveToastBtn3')
            var toastLiveExample = document.getElementById('liveToast3')
            if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show()
            })
            }
        </script>
        <script>
            function usernav(){
                if (document.getElementById("navbar-user").style.display == "none"){
                document.getElementById("navbar-user").style.display = "block"
                }
                else{
                document.getElementById("navbar-user").style.display = "none"
                }
            }

            function bot(){
                if (document.getElementById("exampleFormControlTextarea1").value.length <= 15){
                    document.getElementById("buttonmodal").disabled = true
                }
                else if (document.getElementById("exampleFormControlTextarea1").value.length >= 15){
                    document.getElementById("buttonmodal").disabled = false
                }
            }

        </script>
</body>
</html>