{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    a{
        text-decoration: none;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddem Coins - {{request.user}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1de76f1dd3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header class="navbarr">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logoboi.PNG' %}" class="mylogogpbrr" alt="" width="148px" height="47px" style="cursor: pointer;position: relative;left: 30px;"></a>
        </div>
        <div class="searchdiv">
            <i class="fas fa-search"></i>
            <input type="search" class="searchh" placeholder="Search...">
        </div>
        <div class="iconsdivuser">
            <a href="{% url 'ask_question' %}"><i class="fas fa-plus" data-bs-toggle="tooltip" title = "Ask Questions"></i></a>      
            <a href="{% url 'notifications' %}"><i class="fas fa-bell" data-bs-toggle="tooltip" title="Notifications"></i></a>
            <a href="{% url 'saveposts' %}"><i class="fas fa-save" data-bs-toggle="tooltip" title = "Saved Posts"></i></a>
            <a href="{% url 'reddemcoins' %}"><i class="fas fa-gift" data-bs-toggle="tooltip" title = "Redeem Coins"></i></a>
        </div>
        <div class="userdiv">
            <img src="{{user.profile.image.url}}" data-bs-toggle="tooltip" title = "{{request.user}}" width="39px" height="39px" class="userprofilebruh">
            <i class="fas fa-angle-down" onclick="usernav()"></i>
            <div class="divofuserthings" id = "navbar-user">
                <a href="{% url 'profile' user.pk %}" target="_blank" onclick="usernav()">
                    <div class="upperpart">
                            <img src="{{request.user.profile.image.url}}" alt="">
                            <h3>{{request.user}}</h3>
                            <i class="fas fa-chevron-right"></i>
                            <hr>
                    </div>
                </a>
                <div class="middlepart">
                    <div class="askquestions" data-bs-toggle="modal" data-bs-target="#postcreate" onclick="usernav()">
                        <a href="{% url 'ask_question' %}" style="color: black !important;">
                            <i class="fas fa-question"></i>
                            <p style="position: relative;bottom: 30px;left: 10px;">Ask Questions</p>
                        </a>
                    </div>
                    <div class="coinsthing">
                        <a href="" style="color: black !important;">
                            <i class="fas fa-bell"></i>
                            <p style="position: relative;bottom: 30px;left: 10px;">Notifications</p>
                        </a>
                    </div>
                    <div class="yourcontent">
                        <a href="" style="color: black !important;">
                            <i class="fas fa-gift"></i>
                            <p style="position: relative;bottom: 30px;left: 10px;">Redeem Coins</p>
                        </a>
                    </div>
                    <div class="leaderboard">
                        <a href="" style="color: black !important;">
                            <i class="fas fa-save"></i>
                            <p style="position: relative;bottom: 30px;left: 10px;">Saved Posts</p>
                        </a>
                    </div>
                    <hr>
                </div>
                <div class="lastpart">
                    <div class="contact">
                        <p data-bs-toggle="modal" data-bs-target="#contact" onclick="usernav()">Contact Us</p>
                    </div>
                    <div class="about">
                        <p onclick="usernav()">About Us</p>
                    </div>
                    <div class="logout">
                        <p><a href="/logout" style="color: black !important;">Logout</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="modal fade modal-divbruh" id="contact" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Contact Form :)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Your Name</label>
                        <input type="text" name = "name" class="form-control" id="formGroupExampleInput" placeholder="Enter your Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Your Email</label>
                        <input type="email" name = "email" class="form-control" id="formGroupExampleInput2" placeholder="Enter your Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Describe what you want to contact us for here</label>
                        <textarea class="form-control" name = "message" id="exampleFormControlTextarea1" rows="3" placeholder="Your message" onkeyup="bot()" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="modalbtn" id = "buttonmodal" disabled>Submit</button>
                </div>
            </form>
          </div>
        </div>
      </div>

      <div style="background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../media/profile_pics/behindstuff.jpg');
        height: 100vh;
        background-size: cover;
        position: relative;
        bottom: 122px;
        background-position: center;">

      <div class="reddemdivokbro">
          <div class="topdivhaha">
              <p style="color: black !important;position: relative;top: 120px;">Coins Redeem</p>
          </div>
          <div class="middlestuff">
              <p style="color: black !important;margin-top:130px;">Coins are a virtual good you can use to award exemplary posts or comments. Support Reddit and encourage your favorite contributors to keep making Reddit better.</p>
          </div>
          <a href="#reddemletsgoo"><button style="background-color: #535A60;">Redeem Coins</button></a>
      </div>

      </div>

      <div class="reddemletsgoo" id = "reddemletsgoo" style="position: relative;bottom: 360px;">
          <div class="coinsfivehunder" style="display: flex;">
            <img src="{% static 'images/coinbg.jpg' %}" alt="" width="256px" height="146px">
            <p>$1.00</p>
            {% if request.user.profile.coins == 500 %}
                <a href="http://www.quickmeme.com/img/4b/4bb2c6353e8745406789dc00c23a7c5693d0a057c76dddb60a0edf5477ead632.jpg"><button>500 Coins</button></a>
            {% else %}
                <button id = "liveToastBtn1">500 Coins</button>
            {% endif %}
          </div>
          <div class="coinsonethousand" style="display: flex;">
            <img src="{% static 'images/coinbg.jpg' %}" alt="" width="256px" height="146px">
            <p>$10.00</p>
            {% if request.user.profile.coins == 1000 %}
            <a href="http://www.quickmeme.com/img/4b/4bb2c6353e8745406789dc00c23a7c5693d0a057c76dddb60a0edf5477ead632.jpg"><button>1000 Coins</button></a>
            {% else %}
                <button id = "liveToastBtn">1000 Coins</button>
            {% endif %}
          </div>
          <div class="coinsthreethousand" style="display: flex;">
            <img src="{% static 'images/coinbg.jpg' %}" alt="" width="256px" height="146px">
            <p>$25.00</p>
            {% if request.user.profile.coins == 3100 %}
            <a href="http://www.quickmeme.com/img/4b/4bb2c6353e8745406789dc00c23a7c5693d0a057c76dddb60a0edf5477ead632.jpg"><button>3000 Coins</button></a>
            {% else %}
                <button id = "liveToastBtn2">3000 Coins</button>
            {% endif %}
          </div>
          <div class="coinsseventhousand" style="display: flex;">
            <img src="{% static 'images/coinbg.jpg' %}" alt="" width="256px" height="146px">
            <p>$50.00</p>
            {% if request.user.profile.coins == 7200 %}
                <a href="http://www.quickmeme.com/img/4b/4bb2c6353e8745406789dc00c23a7c5693d0a057c76dddb60a0edf5477ead632.jpg"><button>7000 Coins</button></a>
            {% else %}
                <button id = "liveToastBtn3">7000 Coins</button>
            {% endif %}
        </div>
      </div>

        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Hale And Hearty</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{request.user}} , You Dont Have Enough Coins To Redeem Yet
            </div>
        </div>
        </div>

        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast1" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="{% static 'images/logosmall.jpg' %}" width="20px" height="20px" style="border-radius: 0px;" alt="...">
            <strong style="margin-left: 8px;">Hale And Hearty</strong>
            <button type="button" class="btn-close" style="margin-left: 160px;" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            {{request.user}} , You Dont Have Enough Coins To Redeem Yet
            </div>
        </div>
        </div>

        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                <img src="{% static 'images/logosmall.jpg' %}" width="20px" height="20px" style="border-radius: 0px;" alt="...">
                <strong style="margin-left: 8px;">Hale And Hearty</strong>
                <button type="button" class="btn-close" style="margin-left: 160px;" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{request.user}} , You Dont Have Enough Coins To Redeem Yet
                </div>
            </div>
            </div>

            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast3" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                    <img src="{% static 'images/logosmall.jpg' %}" width="20px" height="20px" style="border-radius: 0px;" alt="...">
                    <strong style="margin-left: 8px;">Hale And Hearty</strong>
                    <button type="button" class="btn-close" style="margin-left: 160px;" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{request.user}} , You Dont Have Enough Coins To Redeem Yet
                    </div>
                </div>
                </div>

    
        <script type="text/javascript">
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            var toastTrigger = document.getElementById('liveToastBtn')
            var toastLiveExample = document.getElementById('liveToast')
            if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show()
            })
            }

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            var toastTrigger = document.getElementById('liveToastBtn1')
            var toastLiveExample = document.getElementById('liveToast1')
            if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show()
            })
            }

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            var toastTrigger = document.getElementById('liveToastBtn2')
            var toastLiveExample = document.getElementById('liveToast2')
            if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show()
            })
            }

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            var toastTrigger = document.getElementById('liveToastBtn3')
            var toastLiveExample = document.getElementById('liveToast3')
            if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show()
            })
            }
        </script>
        <script>
            function usernav(){
                if (document.getElementById("navbar-user").style.display == "none"){
                document.getElementById("navbar-user").style.display = "block"
                }
                else{
                document.getElementById("navbar-user").style.display = "none"
                }
            }

            function bot(){
                if (document.getElementById("exampleFormControlTextarea1").value.length <= 15){
                    document.getElementById("buttonmodal").disabled = true
                }
                else if (document.getElementById("exampleFormControlTextarea1").value.length >= 15){
                    document.getElementById("buttonmodal").disabled = false
                }
            }

        </script>

<div class="preloader">
    
    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background:0 0"><circle cx="50" cy="50" r="4.719" fill="none" stroke="#1d3f72" stroke-width="2"><animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="-1.5s" repeatCount="indefinite"/><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="-1.5s" repeatCount="indefinite"/></circle><circle cx="50" cy="50" r="27.591" fill="none" stroke="#5699d2" stroke-width="2"><animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"/><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"/></circle></svg>
    
  </div>

    <style>
        .preloader {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
            background: rgb(23, 22, 22);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            transition: opacity 0.3s linear;
        }
    </style>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
    $(window).load(function() {
    $(".preloader").delay(1000).fadeOut("slow");
    // $("#overlayer").delay(5000).fadeOut("slow");
    })
</script>
</body>
</html>