{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registerr.css' %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://kit.fontawesome.com/1de76f1dd3.js" crossorigin="anonymous"></script>
    <title>Register - HaleAndHearty</title>
</head>
<body>
    <div class="bg-img">
      <div class="content">
        <header>Hale & Hearty</header>
        <form action="" method="POST">
            {% csrf_token %}
          <div class="field">
            <span class="fa fa-user"></span>
            {{register.username }}
          </div>
          <div class="field-haha">
            <i class="fas fa-envelope" style="margin-top: 13px;margin-left: 10px;"></i>
            {{register.email}}
          </div>
          <div class="field space">
            <span class="fa fa-lock"></span>
            {{register.password1 }}
            <span class="show">SHOW</span>
          </div>
          <div class="field space">
            <span class="fa fa-lock"></span>
            {{register.password2 }}
            <span class="show">SHOW</span>
          </div>
          <div class="g-recaptcha" data-sitekey="6LeNBC0cAAAAACVmoiJkb0eyii-uyFgC4D7vyCQ2" data-callback="enableBtn" style="margin-top: 10px;margin-bottom: 10px;"></div>
          <div class="field" style="margin-bottom: 20px;">
            <input type="submit" value="Register">
          </div>
        </form>
        <!-- <div class="login">Or register with</div> -->
        <!-- <div class="links">
          <div class="github">
            <a href="{% url 'social:begin' 'github' %}" style="text-decoration: none;color: white;">
                <i class="fab fa-github"><span>Github</span></i>
            </a>
          </div>
          <div class="google">
            <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-decoration: none;">
                <i class="fab fa-google"></i><span class="noob">Google</span>
            </a>
          </div>
        </div> -->
        <div class="signup">Already have an account?
          <a href="{% url 'login' %}">Login</a>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        
      const pass_field = document.querySelector('.pass-key');
      const showBtn = document.querySelector('.show');
      showBtn.addEventListener('click', function(){
       if(pass_field.type === "password"){
         pass_field.type = "text";
         showBtn.textContent = "HIDE";
         showBtn.style.color = "#3498db";
       }else{
         pass_field.type = "password";
         showBtn.textContent = "SHOW";
         showBtn.style.color = "#222";
       }
      });
    </script>
    
  </body>
</html>