@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.navbarr{
    height: 50px;
    width: 100%;
    background-color: #fafafb;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5050;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


a{
    color: #282829;
    text-decoration: none;
}


.things ul{
    display: flex;
}

.things ul li{
    list-style: none;
    height: 25px;
    margin-top: 17px;
    cursor: pointer;
}

.things ul li a{
    color: #535a60;
    text-decoration: none;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.things ul li:hover{
    background-color: #535a602f;
    border-radius: 200px;
}

.things ul li a:hover{
    color: black;
}

.searchdiv{
    display: flex;
    align-items: center;
    width: 550px;
    height: 34px;
    outline: none;
    border: 1px solid #535a604d;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.searchdiv i{
    color: #535a604d;
    cursor: pointer;
    margin-left: 5px;
    font-size: 18px;
}

.searchh{
    flex: 1;
    border: none;
    outline: none;
    height: 31px;
    padding-left: 9px;
    font-size: 15px;
}

.searchh::placeholder{
    color: #535a609a;
    font-size: 12px;
}

.logbutton{
    border: transparent;
    background-color: #0095ff;
    color: #39739d;
    height: 35px;
    width: 75px;
    border-radius: 4px;
    cursor: pointer;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.regbutton{
    border: transparent;
    background-color: #0095ff;
    color: #39739d;
    height: 35px;
    width: 75px;
    border-radius: 4px;
    cursor: pointer;
    outline: 1px solid rgba(255, 255, 255, .5);
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.contact{
    color: #535a60 !important;
}

.contact:hover{
    color: black !important;
}

.loglink{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
}

.reglink{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
}

.loglink:hover{
    color: white !important;
}

.reglink:hover{
    color: white !important;
}

.logbutton:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.regbutton:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.modal-divbruh{
    margin-top: 50px;   
}

.modalbtn{
    border: transparent;
    background-color: #0095ff;
    color: white !important;
    height: 35px;
    width: 75px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 1;
}

.modalbtn:disabled{
    cursor: no-drop;
    opacity: 0.65;
}

.divofshit{
    padding: 0;
}

.fa-times{
    cursor: pointer;
    font-size: 20px;
}

.form-check-input{
    position: relative;
    left: 20px; 
    cursor: pointer;
}

.fa-bars{
    font-size: 20px;
    cursor: pointer;
}

.barstuff{
    display: none;
}

.collapse{
    margin-top: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 100px;
}

.postcreatemodal{
    margin-top: 80px;
}

.navbar-dropdownshit{
    background-color: white;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 170px;
    position: fixed;
    bottom: 62%;
    right: 2%;
    display: none;
    transform: translateZ(100px);
    transition: all 0.3s ease-in;
}

/* navbaar dropdown of user authenticated  */

@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }

.divofuserthings{
    background-color: white;
    width: 230px;
    height: 400px;
    position: absolute;
    top: 60px;
    right: 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: none;
    opacity: 1;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

.divofuserthings .upperpart{
    height: 100px;
    cursor: pointer;
    
}

.divofuserthings .upperpart:hover{
    opacity: 0.8;
}

.divofuserthings .upperpart img{
    width: 35px;
    height: 35px;
    border-width: 1px;
    border-radius: 100%;
    position: relative;
    top: 16px;
    left: 10px;
}

.divofuserthings .upperpart h3{
    font-weight: bold;
    line-height: 1.4;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #282829;
    position: relative;
    top: 20px;
    left: 10px;
    width: 100px;
}

.divofuserthings .upperpart hr{
    color: #7e7e7e;
    margin-top: 40px;
}

.divofuserthings .upperpart i{
    position: absolute;
    left: 200px;
    color: grey;
    top: 60px;
}

.divofuserthings .middlepart .askquestions{
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    height: 40px;
}

.divofuserthings .middlepart .askquestions:hover{
    background-color: #94949434;
}

.divofuserthings .middlepart .askquestions i{
    margin-top: 10px;
    margin-left: 4px;
}

.divofuserthings .middlepart .askquestions p{
    margin-left: 20px;
    margin-top: 8px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divofuserthings .middlepart .coinsthing{
    display: flex;
    cursor: pointer;
    height: 40px;
}

.divofuserthings .middlepart .coinsthing:hover{
    background-color: #94949434;
}

.divofuserthings .middlepart .coinsthing i{
    margin-top: 10px;
    margin-left: 4px;
}

.divofuserthings .middlepart .coinsthing p{
    margin-left: 20px;
    margin-top: 8px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divofuserthings .middlepart .yourcontent{
    display: flex;
    cursor: pointer;
    height: 40px;
}

.divofuserthings .middlepart .yourcontent:hover{
    background-color: #94949434;
}

.divofuserthings .middlepart .yourcontent i{
    margin-top: 10px;
    margin-left: 4px;
}

.divofuserthings .middlepart .yourcontent p{
    margin-left: 20px;
    margin-top: 8px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divofuserthings .middlepart .leaderboard{
    display: flex;
    cursor: pointer;
    height: 40px;
}

.divofuserthings .middlepart .leaderboard:hover{
    background-color: #94949434;
}

.divofuserthings .middlepart .leaderboard i{
    margin-top: 10px;
    margin-left: 4px;
}

.divofuserthings .middlepart .leaderboard p{
    margin-left: 20px;
    margin-top: 8px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divofuserthings .middlepart hr{
    color: #7e7e7e;
    margin-top: 10px;
}

.divofuserthings .lastpart{
    position: relative;
    bottom: 13px;
}

.divofuserthings .lastpart .contact{
    cursor: pointer;
}

.divofuserthings .lastpart .contact:hover{
    background-color: #94949434;
}

.divofuserthings .lastpart .contact p{
    color: #282829;
    font-size: 14px;
    margin-bottom: 0;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divofuserthings .lastpart .about{
    cursor: pointer;
}

.divofuserthings .lastpart .about:hover{
    background-color: #94949434;
}

.divofuserthings .lastpart .about p{
    color: #282829;
    margin-bottom: 0;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divofuserthings .lastpart .logout{
    cursor: pointer;
}

.divofuserthings .lastpart .logout:hover{
    background-color: #94949434;
}

.divofuserthings .lastpart .logout p{
    color: #282829;
    font-size: 14px;
    height: 30px;
    margin-bottom: 0;
    line-height: 30px;
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divofuserthings .lastpart .help{
    cursor: pointer;
}

.divofuserthings .lastpart .help:hover{
    background-color: #94949434;
}

.divofuserthings .lastpart .help p{
    color: #282829;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0;
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navbar dropdown inside stuuf */

.iamlinkbruh{
    text-decoration: none;
}

.contact-navbarhaha{
    display: flex;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.contact-navbarhaha i{
    margin-top: 4px;
    margin-left: 20px;
}

.contact-navbarhaha p{
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-navbarhaha:hover{
    background-color: #0079d3;
    color: white;
}

.about-navbarhaha{
    display: flex;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.about-navbarhaha i{
    margin-top: 4px;
    margin-left: 20px;
}

.about-navbarhaha p{
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-navbarhaha:hover{
    background-color: #0079d3;
    color: white;
}

.signin-navbarhaha{
    display: flex;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.signin-navbarhaha i{
    margin-top: 4px;
    margin-left: 20px;
}

.signin-navbarhaha p{
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signin-navbarhaha:hover{
    background-color: #0079d3;
    color: white;
}

.signup-navbarhaha{
    display: flex;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.signup-navbarhaha i{
    margin-top: 4px;
    margin-left: 20px;
}

.signup-navbarhaha p{
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-navbarhaha:hover{
    background-color: #0079d3;
    color: white;
}

/* logged in user stuff */

.iconsdivuser i{
    font-size: 17px;
    color: #838c95;
    cursor: pointer;
    margin-right: 20px;
    width: 34px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.userdiv i{
    cursor: pointer;
    position: relative;
    left: 5px;
    top: 2px;
}

.postcreatedivhaha label{
    display: none;
}

.askquestionabovetext{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 600px;
    height: 34px;
    line-height: 22px;
    color: #1c1c1c;
    position: relative;
    top: 80px;
    left: 134px;
    font-weight: 500;
}

.postcreatedivhaha{
    width: 670px;
    height: 510px;
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 130px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.postcreatedivhaha .postaskbutton{
    border: transparent;
    background-color: #0095ff;
    color: white !important;
    height: 35px;
    width: 80px;
    border-radius: 1000px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 1;
    margin-top: 13px;
    position: relative;
    left: 580px;
}

.postcreatedivhaha .belowaskbutton{
    border: 0;
    border-top: 1px solid #bdbfc0;
    position: relative;
    top: 8px;
}

.postcreatedivhaha .belowtextstuff{
    border: 0;
    border-top: 1px solid #bdbfc0;
    position: relative;
    top: 14px;
}

.postcreatedivhaha .form-check{
    position: relative;
    top: 8px;
}

.askingsidebar{
    position: absolute;
    width: 340px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 4px;
    left: 940px;
    bottom: 140px;
}

.hahalistofthings{
    list-style: decimal;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
}

.hahalistofthings li{
    width: 288px;
    height: 39px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid #bdbfc0;
    padding: 10px 5px;
}


.askingsidebar .topbarstuff{
    display: flex;
    border-bottom: 1px solid #bdbfc0;
    width: 288px;
    height: 46px;
    margin-left: 20px;
    align-items: center;
}

.askingsidebar .topbarstuff p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}


.postcreatedivhaha .form-check label{
    display: block;
    position: relative;
    left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postcreatedivhaha #id_title{
    width: 600px;
    margin-top: 10px;
    margin-left: 30px;
    border: 1px solid rgba(128, 128, 128, 0.185);
    height: 32px;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    border-radius: 4px;
    padding: 16px 12px;
}

.postcreatedivhaha .django-ckeditor-widget{
    margin-left: 30px;
    width: 600px;
}

.userprofilebruh{
    border-radius: 100px;
    cursor: pointer;
}

.sr-only{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.iconsdivuser i:hover{
    color: black;
    background-color: #e3e6e8;
}




/* post stufff heree hahah  */

.topspacehahah{
    width: 572px;
    height: 80px;
    margin-left: 210px;
}


.useraskquestiontop{
    width: 572px;
    height: 83px;
    margin-left: 340px;
    background-color: #fff;
    border: 1px solid #dee0e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin-bottom: 9px;
    cursor: pointer;
}

.useraskquestiontop:hover{
    border: 1px solid rgba(0, 0, 0, 0.425);
}

.useraskquestiontop .top{
    display: flex;
    padding: 10px 19px;
    height: 40px;
}

.useraskquestiontop .top img{
    border-radius: 100px;
    width: 25px;
    height: 25px;
}

.useraskquestiontop .top p{
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #939598;
    margin-left: 5px;
    margin-top: 2px;
}

.useraskquestiontop h3{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #939598;
    line-height: 25px;
    font-weight: bold;
    margin-left: 22px;
    margin-bottom: 10px;
}

.postdivgobrr{
    width: 572px;
    height: auto;
    margin-left: 340px;
    background-color: #fff;
    border: 1px solid #dee0e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin-bottom: 9px;
    cursor: pointer;
}

.postdivgobrr .postdivheader{
    display: flex;
    width: 538px;
    height: 54px;
    padding: 10px 18px;
}

.postdivgobrr .postdivheader .whenposted{
    color: #636466;
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
}

.postdivgobrr .postdivheader .postdivheadername{
    color: #282829;
    font-size: 13px;
    line-height: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    cursor: pointer;
}

.postdivgobrr .postdivheader span{
    color: #636466;
    font-size: 13px;
    margin-right: 7px;
    margin-top: 3px;
}

.postdivgobrr .postdivheader .postdivheadername:hover{
    text-decoration: underline;
    color: #282829;
}

.postdivgobrr .postdivheader .postdivheaderfollow{
    margin-top: 6px;
    color: #2e69ff;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 18px;
    cursor: pointer;
    margin-right: 14px;
}

.postdivgobrr .titlestuff {
    padding: 4px 23px;
    height: auto;
    font-size: 15px;
    color: #282829;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    line-height: 21px;
}

.laststuffunder{
    width: 570px;
    position: relative;
    right: 23px;
    top: 10px;
}

.postdivgobrr .bodystuff{
    padding: 4px 23px;
    height: auto;
    font-size: 15px;
    color: #282829;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 21px;
}

.postdivgobrr .titlestuff a:hover{
    text-decoration: underline;
    color: #282829;
}

.postdivgobrr .bottom-stuff{
    display: flex;
}

.postdivgobrr .bottom-stuff .answer-field{
    margin-bottom: 9px;
    border-radius: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.postdivgobrr .bottom-stuff .answer-field:hover{
    background-color: rgba(128, 128, 128, 0.116);
}

.postdivgobrr .bottom-stuff .save-field{
    margin-bottom: 9px;
    border-radius: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.postdivgobrr .bottom-stuff .save-field:hover{
    background-color: rgba(128, 128, 128, 0.116);
}

.postdivgobrr .bottom-stuff .report-field{
    margin-bottom: 9px;
    border-radius: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.postdivgobrr .bottom-stuff .share-field{
    margin-bottom: 9px;
    border-radius: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.postdivgobrr .bottom-stuff .report-field:hover{
    background-color: rgba(128, 128, 128, 0.116);
}

.postdivgobrr .bottom-stuff .share-field:hover{
    background-color: rgba(128, 128, 128, 0.116);
}


.postdivgobrr .bottom-stuff .fa-flag{
    margin-left: 20px;
    font-size: 15px;
    color: #282829;
}

.postdivgobrr .bottom-stuff .fa-share-square{
    margin-left: 20px;
    font-size: 15px;
    color: #282829;
}


.postdivgobrr .bottom-stuff .fa-edit{
    margin-left: 20px;
    font-size: 15px;
    color: #282829;
}

.postdivgobrr .bottom-stuff .report{
    margin-left: 3px;
    color: #282829;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postdivgobrr .bottom-stuff .share{
    margin-left: 3px;
    color: #282829;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postdivgobrr .bottom-stuff .answer{
    margin-left: 3px;
    color: #282829;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postdivgobrr .fa-ellipsis-h{
    font-size: 16px;
    color: #282829;
    margin-left: 100px;
    padding-left: 20px;
    margin-top: 2px;
    padding-right: 20px;
    border-radius: 30px;
    height: 26px;
    line-height: 26px;
}

.postdivgobrr .fa-ellipsis-h:hover{
    background-color: rgba(128, 128, 128, 0.116);
}

.postdivgobrr .bottom-stuff .fa-save{
    margin-left: 20px;
    font-size: 16px;
    color: #282829;
}

.postdivgobrr .bottom-stuff .save{
    margin-left: 3px;
    color: #282829;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postdivgobrr .postdivheader .postdivheaderfollow:hover{
    text-decoration: underline;
}

.postdivgobrr .postdivheader .postdivheaderimg{
    border-radius: 100px;
}

.deletepostdiv{
    background-color: #fff;
    border: 1px solid #dee0e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    height: 200px;
    width: 400px;
    position: relative;
    top: 200px;
    margin: auto;
}

.deletepostdiv .deleet{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #282829;
    line-height: 25px;
    font-weight: bold;
    margin-left: 20px;
}

.deletepostdiv .areyousur{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #636466;
    line-height: 21px;
    margin-left: 14px;
}

.deletepostdiv .cancel{
    background-color: #f7f7f8;
    color: #282829;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    height: 38px;
    font-weight: 600;
    width: 88px;
    padding: 0px 20px;
    box-shadow: rgb(99 100 102 / 20%) 0px 0px;
    border-width: 0px;
    border-radius: 1000px;
    margin-top: 20px;
    margin-left: 210px;
}

.modalreportchecks label{
    color: #282829;
    font-size: 16px;
    line-height: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-left: 19px;
}

.modalreportchecks .form-check{
    margin-top: 8px;
    cursor: pointer;
}

.modalreportchecks .form-check p{
    font-size: 13px;
    color: #939598;
    margin-left: 19px;
}

.modalreportbottom .cancelbtn{
    background-color: #f7f7f8;
    color: #282829;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    height: 38px;
    font-weight: 600;
    width: 88px;
    padding: 0px 20px;
    box-shadow: rgb(99 100 102 / 20%) 0px 0px;
    border-width: 0px;
    border-radius: 1000px;
}

.modalreportbottom .submitbtn{
    background-color: #2e69ff;
    color: #fff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    height: 38px;
    width: 88px;
    padding: 0px 20px;
    box-shadow: rgb(99 100 102 / 20%) 0px 0px;
    border-width: 0px;
    border-radius: 1000px;
    opacity: 1;
}

.modalreportbottom .submitbtn:disabled{
    opacity: 0.8;
    cursor: not-allowed;
}

.deletepostdiv .delete{
    background-color: #2e69ff;
    color: #fff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    height: 38px;
    width: 88px;
    padding: 0px 20px;
    box-shadow: rgb(99 100 102 / 20%) 0px 0px;
    border-width: 0px;
    border-radius: 1000px;
}

.postcommentdiv{
    width: 572px;
    position: relative;
    left: 342px;
    margin-top: 20px;
    display: none;
    animation-name: slideIn;
    animation-duration: 0.8s;
}

.postcommentdiv .buttonstuffhere{
    width: 572px;
}

.postcommentdiv .buttonstuffhere button{
    background-color: #2e69ff;
    color: #fff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    height: 38px;
    border-radius: 300px;
    border: transparent;
    width: 88px;
    padding: 0px 20px;
    box-shadow: rgb(99 100 102 / 20%) 0px 0px;
    margin-top: 10px;
}

.postcommentdiv .userdiv{
    width: 572px;
    display: flex;
    height: 61px;
    border: 1px solid #dee0e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}

.postcommentdiv .userdiv img{
    width: 40px;
    height: 45px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.postcommentdiv .userdiv p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #282829;
    cursor: pointer;
    font-weight: bold;
    margin-top: 19px;
    margin-left: 5px;
}

.postcommentdiv .userdiv p:hover{
    text-decoration: underline;
}

.postcommentdiv form label{
    display: none;
}

.postanswersdiv{
    width: 572px;
    height: auto;
    margin-left: 340px;
    background-color: #fff;
    border: 1px solid #dee0e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin-bottom: 9px;
    cursor: pointer;
}

.postanswersdiv .topstuff{
    display: flex;
    width: 538px;
    height: 54px;
    padding: 10px 18px;
}

.postanswersdiv .topstuff .whenanswered{
    color: #636466;
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
}

.postanswersdiv .topstuff img{
    border-radius: 100%;
}

.postanswersdiv .topstuff span{
    color: #636466;
    font-size: 13px;
    margin-right: 7px;
    margin-top: 3px;
}

.postanswersdiv .topstuff .username{
    color: #282829;
    font-size: 13px;
    line-height: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    cursor: pointer;
}

.postanswersdiv .topstuff .username:hover{
    text-decoration: underline;
    color: #282829;
}

.postanswersdiv .topstuff .followshit{
    margin-top: 6px;
    color: #2e69ff;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 18px;
    cursor: pointer;
    margin-right: 14px;
}

.postanswersdiv .topstuff .followshit:hover{
    color: #2e69ff;
    text-decoration: underline;
}

.postanswersdiv .bodystuff{
    padding: 4px 23px;
    height: auto;
    font-size: 15px;
    color: #282829;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 21px;
}

.modalbodystuff a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;
    margin-left: 70px;
}

.modalbodystuff a:hover{
    color: white;
}

.modalbodystuff .facebook-this{
    width: 300px;
    height: 40px;
    background-color: #4267b2;
    line-height: 40px;
    margin-left: 94px;
    margin-bottom: 10px;
}

.modalbodystuff .whatsapp-this{
    width: 300px;
    height: 40px;
    background-color: #25d366;
    line-height: 40px;
    margin-left: 94px;
    margin-bottom: 10px;
}

.modalbodystuff .reddit-this{
    width: 300px;
    height: 40px;
    background-color: #ff4500;
    line-height: 40px;
    margin-left: 94px;
    margin-bottom: 10px;
}

.notificationdiv{
    height: 97px;
    width: 517px;
    background-color: #fff;
    border: 1px solid #dee0e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    cursor: pointer;
    margin-top: 9px;
    margin-left: 351px;
}

.notificationdiv:hover{
    border-color: rgba(0, 0, 0, 0.16);
}

.notificationdiv .headerstuff{
    display: flex;
    width: 517px;
}

.notificationdiv .headerstuff img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.notificationdiv .headerstuff .useraname{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #282829;
    cursor: pointer;
    font-weight: bold;
    margin-top: 14px;
    margin-left: 5px;
}

.notificationdiv .headerstuff .useraname:hover{
    text-decoration: underline;
}

.notificationdiv .headerstuff .time{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #282829;
    margin-top: 14px;
    margin-left: 300px;
}

@media (max-width : 1300px){
    .askingsidebar{
        display: none;
    }
}

@media (max-width : 1160px){
    .barstuff{
        display: block;
    }
    .authstuff{
        display: none;
    }
    .things{
        display: none;
    }
    .iconsdivuser i{
        font-size: 17px;
    }
}

@media (max-width:876px){
    .postdivgobrr .bottom-stuff{
        width: 370px;
    }
    .postdivgobrr .bottom-stuff .answer-field{
        padding: 0px;
    }
    .postdivgobrr .bottom-stuff .save-field{
        padding: 0px;
    }
    .postdivgobrr .bottom-stuff .report-field{
        padding: 0px;
    }
    .postdivgobrr .bottom-stuff .share-field{
        padding: 0px;
    }
    .postdivgobrr .bottom-stuff .answer-field:hover{
        background-color: transparent;
    }
    .postdivgobrr .bottom-stuff .share-field:hover{
        background-color: transparent;
    }
    .postdivgobrr .bottom-stuff .save-field:hover{
        background-color: transparent;
    }
    .postdivgobrr .bottom-stuff .report-field:hover{
        background-color: transparent;
    }
    .postdivgobrr .bodystuff .laststuffunder{
        width: 470px;
        position: relative;
        right: 23px;
    }
    .iconsdivuser i{
        width: 14px;
    }
    .askquestionabovetext{
        width: 200px;
    }

    .searchdiv{
        width: 300px;
        height: 34px;

    }
    .postcreatedivhaha{
        width: 570px;
        height: 510px;
    }
    .postcreatedivhaha #id_title{
        width: 500px;
    }
    .postcreatedivhaha .django-ckeditor-widget{
        width: 500px;
    }
    .useraskquestiontop{
        width: 472px;
        height: 83px;
        margin-left: 300px;
    }
    .postdivgobrr{
        width: 472px;
        margin-left: 300px;
    }
}

@media (max-width : 660px){
    .postdivgobrr .fa-ellipsis-h{
        display: none;
    }
    .postdivgobrr .bodystuff .laststuffunder{
        width: 370px;
        position: relative;
        right: 23px;
    }
    .searchdiv{
        width: 190px;
        height: 34px;
    }
    .searchh{
        width: 100px;
    }
    .navbar-dropdownshit{
        bottom: 68%;
    }
    .iconsdivuser i{
        font-size: 14px;
    }
    .postcreatedivhaha{
        width: 370px;
        height: 510px;
    }
    .postcreatedivhaha #id_title{
        width: 300px;
    }
    .postcreatedivhaha .django-ckeditor-widget{
        width: 300px;
    }
    .postcreatedivhaha .postaskbutton{
        position: relative;
        left: 250px;
    }
    .useraskquestiontop{
        width: 372px;
        height: 83px;
        margin-left: 120px;
    }
    .postdivgobrr{
        width: 372px;
        margin-left: 120px;
    }
    .postdivgobrr .bottom-stuff .report{
        font-size: 12px;
        margin-left: 1px;
    }
    .postdivgobrr .bottom-stuff .save{
        font-size: 12px;
        margin-left: 1px;
    }
    .postdivgobrr .bottom-stuff .answer{
        font-size: 12px;
        margin-left: 1px;
    }
    .postdivgobrr .bottom-stuff .share{
        font-size: 12px;
        margin-left: 1px;
    }
}

@media (max-width : 451px){

    .postdivgobrr{
        width: 305px;
        margin-left: 6px;
    }
    .postdivgobrr .postdivheader{
        width: 300px;
    }
    .postdivgobrr .bodystuff .laststuffunder{
        width: 300px;
        position: relative;
        right: 18px;
    }
    .postdivgobrr .titlestuff{
        font-size: 15px;
        padding: 4px 19px;
    }
    .postdivgobrr .bodystuff{
        padding: 4px 19px;
    }
    .useraskquestiontop{
        width: 305px;
        height: 83px;
        margin-left: 6px;
    }
    .postcreatedivhaha{
        width: 370px;
        height: 510px;
        margin-left: 10px;
    }
    .askquestionabovetext{
        position: relative;
        left: 10px;
    }
    .postcreatedivhaha #id_title{
        width: 300px;
    }
    .postcreatedivhaha .django-ckeditor-widget{
        width: 300px;
    }
    .postcreatedivhaha .postaskbutton{
        position: relative;
        left: 280px;
        bottom: 6px;
    }

    .searchdiv{
        width: 130px;
        height: 34px;
        margin-left: 20px;
    }
    .searchdiv input::placeholder{
        font-size: 10px;
    }
    .userdiv img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .userdiv i{
        margin-left: -10px;
    }
    .iconsdivuser i{
        font-size: 12px;
        width: 17px;
    }
    .iconsdivuser i{
        margin-right: 10px;
    }
}
