body{
    background-color:rgba(223, 221, 221, 0.63);
}

div{
    background-color: white;
    height: 150px;
    width: 350px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 1px;
    margin: 0 auto;
    margin-top: 240px;
}

h4{
    text-align: center;
    color: #262626;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 30px;
}

.loginok{
    text-decoration: none;
    color: #0095f6;
}

p{
    text-align: center;
    color: #8e8e8e;
    font-weight: 400;
    line-height: 18px;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 14px;
    position: relative;
    top: 20px;
}

.redirect{
    text-decoration: none;
    color: #0095f6;
    margin-left: 160px;
    position: relative;
    top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #6b6b6b #ffffff;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 12px;
    border: 3px solid #ffffff;
  }