body{
    background-color:rgba(223, 221, 221, 0.63);
}

.loginforgotdiv{
    width: 380px;
    margin: 0 auto;
    height: 480px;
    margin-top: 50px;
    background-color: white;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 1px;
}

img{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
}

.troublelog{
    text-align: center;
    color: #262626;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enterthings{
    text-align: center;
    color: #8e8e8e;
    font-weight: 400;
    line-height: 18px;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 14px;
}

input{
    height: 36px;
    font-size: 16px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 240px;
    margin-bottom: 10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 3px;
    outline: none;
    padding-left: 10px;
    background-color: rgba(250,250,250,1);
    color: black;
    font-family: inherit;
    margin-top: 20px;
}

label{
    display: none;
}

button{
    height: 30px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(0, 148, 246);
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
}

.orshit{
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 30px;
    margin-left: 15px;
}

.registerlink{
    color: #262626;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: relative;
    left: 120px;
    top: 6px;
}

.left-line{
    height: 1px;
    width: 100px;
    margin-left: 50px;
    background-color: #8e8e8e;
}

.right-line{
    height: 1px;
    width: 100px;
    background-color: #8e8e8e;
}

.orshit h5{
    height: 4px;
    width: 35px;
    text-align: center;
    position: relative;
    bottom: 29px;
    color: #8e8e8e;
    font-family: cursive;
}

.backtologin{
    height: 36px;
    width: 100%;
    background-color:rgba(223, 221, 221, 0.63);
    margin-top: 43px;
}

.backtologin a{
    color: #262626;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    position: relative;
    left: 140px;
    top: 6px;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #6b6b6b #ffffff;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 12px;
    border: 3px solid #ffffff;
  }