{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}">
</head>
<body>
    <div>
        <h4>Password Change Succesfully :)</h4>
        <p>
            Congartulation your password has been set you may go ahead and <a class="loginok" href="{% url 'login' %}">login</a>
        </p>
        <a href="{% url 'password_reset' %}" class="redirect">Ok</a>
    </div>
</body>
</html>