{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <title>Reset Password</title>
</head>
<body>
    <div class="loginforgotdiv">
        <img src="{% static 'images/lock.png' %}" alt="">
        <h4 class="troublelog">Trouble Logging In?</h4>
        <p class="enterthings">Enter your email and we'll send you a link to get back into your account.</p>
        <form action="" method = "POST">
            {% csrf_token %}
            {{form}}
            <button type="submit">Send Login Link</button>
        </form>
        <div class="orshit">
            <div class="left-line"></div>
            <h5>OR</h5>
            <div class="right-line"></div>
        </div>
        <a href="{% url 'register' %}" class="registerlink">Create New Account</a>
        <div class="backtologin">
            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </div>
</body>

<script type="text/javascript">
    document.getElementById("id_email").setAttribute("placeholder", "Enter your email");
</script>
</html>