{% load static %}
{% load crispy_forms_tags  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
    <script src="https://kit.fontawesome.com/1de76f1dd3.js" crossorigin="anonymous"></script>
    <title>Enter New Password</title>
</head>
<body>
    <div class="container">
       {% if validlink %}
            <form action="" method="POST">
                {% csrf_token %}
                <h1 class="newwebsitetext">Enter New Password</h1>
                <h4 class="idkhelpme">The link is valid you can change your password :)</h4>
                {{form}}
                <button type="submit" class="changepass">Change Password</button>
            </form>
        {% else %}
            <p>Oops The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.</p>
       {% endif %}
    </div>

    <script type = "text/javascript">
        document.getElementById("id_new_password1").setAttribute("placeholder","Enter new password")
        document.getElementById("id_new_password2").setAttribute("placeholder","Confirm new password")
    </script>
</body>
</html>